{{ define "main" }}
<main>
  <article class="list-page__main">
    <header>
      <h1 class="u-title">{{if eq .Kind "taxonomy"}}#{{end}}{{.Title}}</h1>
    </header>
    {{.Content}}
  </article>
  <ul class="list-page__list">
    {{ range .Pages }}
    <li class="list-page__list-item">
      <time class="list-page__list-item-date">{{ .Date.Format "2 January 2006" }}</time>
      <h2 class="list-page__list-item-title">
        <a href="{{.Permalink}}">{{ .Title }}</a>
      </h2>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
