{{ define "main" }}
<nav class="single-sequence-nav">
  <h2 class="single-sequence-nav__title">{{ .Section }}s</h2>
  <ul class="single-sequence-nav__list">
    {{ with .PrevInSection }}
    <li class="single-sequence-nav__list-item">
      <a class="single-sequence-nav__previous" href="{{.Permalink}}"> {{.Title}}</a>
    </li>
    {{ end }}
    {{ with .NextInSection }}
    <li class="single-sequence-nav__list-item">
      <a class="single-sequence-nav__next" href="{{.Permalink}}"> {{.Title}}</a>
    </li>
    {{ end }}
  </ul>
</nav>
<section class="h-entry single-article__main single-article__main--{{ .Section }}">
  <time class="single-article__date">
    <a href="{{ .Permalink }}">{{ .Date.Format "2 January 2006" }}</a>
  </time>
  <h2 class="p-name single-article__title">{{ .Title }}</h2>
  <h3 class="single-article__subtitle">{{ .Params.subtitle }}</h3>
  <article class="single-article__article">
    {{ with .Resources.ByType "image" }}
      {{ range . }}
        {{ $image := .Resize "800x" }}
        <img class="single-article__resource-image" src="{{ $image.RelPermalink | absURL }}" alt="{{ .Name }}">
      {{ end }}
    {{ end }}
    {{ if .Params.instagram }}
      <a href="https://instagram.com/p/{{.Params.instagram}}">Also available on Instagram</a>
    {{ end }}

    <div class="e-content">
      {{ .Content }}
    </div>
  </article>
</section>
<aside>
  {{ with .Params.tags }}
  <ul class="single-tags-list">
    {{ range . }}
    <li class="single-tags-list__item">
      <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</aside>
{{ end }}
