<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsHome }}
  <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
  {{ end }}
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ "favicon.png" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ "/open-graph.png" | absURL }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@jackreid" />
  <meta name="twitter:creator" content="@jackreid" />
  <meta name="twitter:image" content="{{ "/open-graph.png" | absURL }}">
  {{ if or (eq .Section "note") (eq .Section "post") }}
  <meta name="twitter:description" content="{{ .Content | truncate 100 }}">
  {{ end }}

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53536747-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-53536747-2');
  </script>
</head>
