<header>
  <h1><a href="{{ .Site.BaseURL }}">Jack Reid</a></h1>
  <nav>
    <ul>
      <li>
        <a href="{{ .Site.BaseURL }}/note/">Notes</a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/elsewhere">Elsewhere</a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/post">Post</a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/photoset">Photos</a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/work">Work</a>
      </li>
    </ul>
  </nav>
</header>
